/*Combo Page*/


.combo {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.perso {
  display: flex;
  justify-content: center;
  margin-top: 2%;
  margin-bottom: 2%;
  background-color: lightsteelblue;
  width: 200px;
  height: 200px;
  border: 4px solid darkslategray;
  align-items: center;
  border-radius: 15px;


}

.perso:hover {
  transform: scale(1.01);
  box-shadow: 0 0 10px rgba(0,0,0,0.2);
}

.vehicules {
  display: flex;
  flex-direction: row;
  width: 60%;
  justify-content: space-around;
  margin-top: 2%;
  
  
  
}

.vehicules_parts {
  background-color: lightsteelblue;
  width: 200px;
  height: 200px;
  border: 4px solid darkslategray;
  
  border-radius: 15px;
  display: flex;
  justify-content: center;
  align-items: center;

  

}

.vehicules_parts:hover {
  transform: scale(1.01);
  box-shadow: 0 0 10px rgba(0,0,0,0.2);
}


.combo_random {
  
  display: flex;
  width: 100%;
  margin-top: 4%;
  padding-bottom: 4%;
  align-items: center;
  justify-content: center;
}

.random_button {
  background-color: #4da6ff;
  width: 170px;
  height: 45px;
  font-size: 18px;
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  font-weight: bold;
  border: none;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0,0,0,0.2);
  color: #fbfbfe;

}

.random_button:hover {
  cursor: pointer;
  opacity: 90%;
}